/* Base Color 
    6E85B7
    B2C8DF
    C4D7E0
*/

@charset "UTF-8";

@media screen and (max-width: 850px) {
    /* enter code here */
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

.font {
    font-family: 'Source Sans Pro', sans-serif;
}

.main {
    display: block;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}