@charset "UTF-8";

.footer{
    padding: 50px 0 40px;
}

.footer > .content {
    position: relative;
    margin: auto;
    width: 82%;
}

.footer > .content > p {
    text-align: center;
}

.sns {
    text-align: center;
}

.sns > li {
    letter-spacing: -0.5em;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    display: inline;
}

.sns > li .footer-icon {
    width: 40px;
    height: 40px;
    padding: 0px 10px 0px 10px;
}

.sns > li > a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.sns ol,ul {
    list-style: none;
}
