@charset "UTF-8";
.container {
    opacity: 0;
    max-width: var(--max-width);
    margin: auto;
}

.wrapper {
    max-width: var(--max-width-2);
    position: fixed;
    z-index: 100;
    top: 0;
    visibility: hidden;
    width: 100%;
    background-color: var(--color-3);
    max-height: 150px;
    margin: 0;
}

body.menu-open .wrapper {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s;
    transform: translateY(20px);
}

.grid {
    display: grid;
    gap: 1.3rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger Button */
.hamburger{
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 16px;
    cursor: pointer;
    padding: 5px;
    width: 32px;
    height: 24px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}
.change .bar2 {
    width:0%;
    transition: width .35s ease-out;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}